<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>NBCC Restaurant - Hospitality and Tourism</title>

<link rel="shortcut icon" href="/images/favicon-32x32.png"
	type="image/svg+xml" />

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Rubik:wght@400;500;600;700&family=Shadows+Into+Light&display=swap"
	rel="stylesheet" />
<link rel="stylesheet" href="/css/reservation.css" />

<link rel="preload" as="image" href="/images/hero-banner.png"
	media="min-width(768px)" />
<link rel="preload" as="image" href="/images/hero-banner-bg.png"
	media="min-width(768px)" />
</head>

<body id="top">
	<!-- Header -->
	<header class="header" data-header>
		<div class="container">
			<h1>
				<a href="#" class="logo"> <img src="/images/nbcc.png" alt=""
					class="logo-img">
				</a>
			</h1>

			<nav class="navbar" data-navbar>
				<ul class="navbar-list">
					<li class="nav-item"><a href="#home" class="navbar-link"
						data-nav-link>Home</a></li>

					<li class="nav-item"><a href="#about" class="navbar-link"
						data-nav-link>About</a></li>

					<li class="nav-item"><a href="#food-menu" class="navbar-link"
						data-nav-link>Menu</a></li>

					<li class="nav-item"><a href="#events" class="navbar-link"
						data-nav-link>Events</a></li>

					<li class="nav-item"><a href="#gallery" class="navbar-link"
						data-nav-link>Gallery</a></li>
				</ul>
			</nav>

			<div class="header-btn-group">

				<button class="btn btn-hover">Reservation</button>
				<button class="nav-toggle-btn" aria-label="Toggle Menu"
					data-nav-toggle-btn>
					<span class="line top"></span> <span class="line middle"></span> <span
						class="line bottom"></span>
				</button>
			</div>
		</div>
	</header>


	<main>
		<article>
			<section class="confirmation">
			<div th:object="${reservation}" class="container table-responsive py-5">
				<h4>
					Reservation for <span class="span h3" th:text="*{firstName}"></span> <span class="span h3"
						th:text="*{lastName}"></span>
				</h4>
				<br />
				<table class="table table-bordered table-hover">
					<tr>
						<th scope="col">Event</th>
					</tr>
					<tr>
						<th scope="col">Seats</th>
						<td th:text="*{seats}"></td>
					</tr>

				<tr>
					<th>Event</th>
					<td th:text="*{resEvent.eventName}"></td>
				</tr>
				<td>
					<th>Time</th>
					<td><span th:text="*{timeSlot.hour}"></span>:<span th:text="*{timeSlot.minute}"></span></td>
				</tr>
				<tr>
						<th scope="col">Confirmation Number</th>
						<td th:text="*{confirmationNumber}"></td>
					</tr>
					<tr>
						<th scope="col">Special Requests</th>
						<td th:text="*{requests}"></td>
					</tr>
					<tr>
						<th scope="col">Contact Information</th>
					</tr>
					<tr>
						<th scope="col">First Name</th>
						<td th:text="*{firstName}"></td>
					</tr>
					<tr>
						<th scope="col">Last Name</th>
						<td th:text="*{lastName}"></td>
					</tr>
					<tr>
						<th scope="col">Email Address</th>
						<td th:text="*{email}"></td>
					</tr>
					<tr>
						<th scope="col">Phone Number</th>
						<td th:text="*{phone}"></td>
					</tr>
				</table>
				<br />
			<a class="btn" th:href="@{../}">Back to Home</a>
			</div>

			</section>
		</article>
	</main>



	<footer class="footer">
		<div class="footer-top"
			style="background-image: url('/images/footer-illustration.png')">
			<div class="container">
				<div class="footer-brand">
					<a href="#" class="logo">Resto<span class="span">*</span></a>
					<p class="footer-text">Lorem ipsum dolor, sit amet consectetur
						adipisicing elit. Nesciunt, dignissimos similique? Ex consequatur
						sunt pariatur.</p>

					<ul class="social-list">
						<li><a href="#" class="social-link"> <ion-icon
									name="logo-facebook"></ion-icon>
						</a></li>

						<li><a href="#" class="social-link"> <ion-icon
									name="logo-twitter"></ion-icon>
						</a></li>

						<li><a href="#" class="social-link"> <ion-icon
									name="logo-instagram"></ion-icon>
						</a></li>

						<li><a href="#" class="social-link"> <ion-icon
									name="logo-linkedin"></ion-icon>
						</a></li>
					</ul>
				</div>

				<ul class="footer-list">
					<li>
						<p class="footer-list-title">Contact Info</p>
					</li>

					<li>
						<p class="footer-list-item">+1 506-111 1234</p>
					</li>

					<li>
						<p class="footer-list-item">resto@nbcc.ca</p>
					</li>

					<li>
						<address class="footer-list-item">1234 Mountain Road,
							Moncton, NB E1C123</address>
					</li>
				</ul>

				<ul class="footer-list">
					<li>
						<p class="footer-list-title">Opening Hours</p>
					</li>

					<li>
						<p class="footer-list-item">Monday-Friday: 09:00-03:30</p>
					</li>
				</ul>

			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<p class="copyright-text">
					&copy; 2022 <a href="#" class="copyright-link"> NBCC </a> All
					Rights Reserved.
				</p>
			</div>
		</div>
	</footer>

	<a href="#top" class="back-top-btn" aria-label="Back to Top"
		data-back-top-btn> <ion-icon name="chevron-up"></ion-icon>
	</a>

	<script src="/js/script.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<scriptsrc="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		defer></script>
	<scriptsrc="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		defer></script>
	<script type="module"
		src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule
		src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
<!-- 
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>NBCC Restaurant - Hospitality and Tourism</title>

<link rel="shortcut icon" href="/images/favicon-32x32.png"
	type="image/svg+xml" />

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Rubik:wght@400;500;600;700&family=Shadows+Into+Light&display=swap"
	rel="stylesheet" />
<link rel="stylesheet" href="/css/reservation.css" />

<link rel="preload" as="image" href="/images/hero-banner.png"
	media="min-width(768px)" />
<link rel="preload" as="image" href="/images/hero-banner-bg.png"
	media="min-width(768px)" />
</head>

<body id="top">
	Header
	<header class="header" data-header>
		<div class="container">
			<h1>
				<a href="#" class="logo"> <img src="/images/nbcc.png" alt=""
					class="logo-img">
				</a>
			</h1>
      

			<nav class="navbar" data-navbar>
				<ul class="navbar-list">
					<li class="nav-item"><a href="#home" class="navbar-link"
						data-nav-link>Home</a></li>

					<li class="nav-item"><a href="#about" class="navbar-link"
						data-nav-link>About</a></li>

					<li class="nav-item"><a href="#food-menu" class="navbar-link"
						data-nav-link>Menu</a></li>

					<li class="nav-item"><a href="#events" class="navbar-link"
						data-nav-link>Events</a></li>

					<li class="nav-item"><a href="#gallery" class="navbar-link"
						data-nav-link>Gallery</a></li>
				</ul>
			</nav>

			<div class="header-btn-group">

				<button class="btn btn-hover">Reservation</button>
				<button class="nav-toggle-btn" aria-label="Toggle Menu"
					data-nav-toggle-btn>
					<span class="line top"></span> <span class="line middle"></span> <span
						class="line bottom"></span>
				</button>
			</div>
		</div>
	</header>

	<main>
		<article>
			<section class="confirmation">
			<div th:object="${reservation}" class="container table-responsive py-5">
				<h4>
					Reservation for <span class="span h3" th:text="*{firstName}"></span> <span class="span h3"
						th:text="*{lastName}"></span>
				</h4>
				<br />
				<table class="table table-bordered table-hover">
					<tr>
						<th scope="col">Event</th>
					</tr>
					<tr>
						<th scope="col">Seats</th>
						<td th:text="*{seats}"></td>
					</tr>
			<tr>
				<th>Event</th>
				<td th:text="*{resEvent.eventName}"></td>
			</tr>
			
	
				<td><span th:text="*{timeSlotID.hour}"></span>:<span th:text="*{timeSlotID.minute}"></span></td>
			</tr> 
					<tr>
						<th scope="col">Confirmation Number</th>
						<td th:text="*{confirmationNumber}"></td>
					</tr>
					<tr>
						<th scope="col">Special Requests</th>
						<td th:text="*{requests}"></td>
					</tr>
					<tr>
						<th scope="col">Contact Information</th>
					</tr>
					<tr>
						<th scope="col">First Name</th>
						<td th:text="*{firstName}"></td>
					</tr>
					<tr>
						<th scope="col">Last Name</th>
						<td th:text="*{lastName}"></td>
					</tr>
					<tr>
						<th scope="col">Email Address</th>
						<td th:text="*{email}"></td>
					</tr>
					<tr>
						<th scope="col">Phone Number</th>
						<td th:text="*{phone}"></td>
					</tr>
				</table> -->
				<br />
			<a class="btn" th:href="@{../}">Back to Home</a>
			</div>
			
			</section>
		</article>
	</main>



	<footer class="footer">
		<div class="footer-top"
			style="background-image: url('/images/footer-illustration.png')">
			<div class="container">
				<div class="footer-brand">
					<a href="#" class="logo">Resto<span class="span">*</span></a>
					<p class="footer-text">Lorem ipsum dolor, sit amet consectetur
						adipisicing elit. Nesciunt, dignissimos similique? Ex consequatur
						sunt pariatur.</p>

					<ul class="social-list">
						<li><a href="#" class="social-link"> <ion-icon
									name="logo-facebook"></ion-icon>
						</a></li>

						<li><a href="#" class="social-link"> <ion-icon
									name="logo-twitter"></ion-icon>
						</a></li>

						<li><a href="#" class="social-link"> <ion-icon
									name="logo-instagram"></ion-icon>
						</a></li>

						<li><a href="#" class="social-link"> <ion-icon
									name="logo-linkedin"></ion-icon>
						</a></li>
					</ul>
				</div>

				<ul class="footer-list">
					<li>
						<p class="footer-list-title">Contact Info</p>
					</li>

					<li>
						<p class="footer-list-item">+1 506-111 1234</p>
					</li>

					<li>
						<p class="footer-list-item">resto@nbcc.ca</p>
					</li>

					<li>
						<address class="footer-list-item">1234 Mountain Road,
							Moncton, NB E1C123</address>
					</li>
				</ul>

				<ul class="footer-list">
					<li>
						<p class="footer-list-title">Opening Hours</p>
					</li>

					<li>
						<p class="footer-list-item">Monday-Friday: 09:00-03:30</p>
					</li>
				</ul>

			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<p class="copyright-text">
					&copy; 2022 <a href="#" class="copyright-link"> NBCC </a> All
					Rights Reserved.
				</p>
			</div>
		</div>
	</footer>

	<a href="#top" class="back-top-btn" aria-label="Back to Top"
		data-back-top-btn> <ion-icon name="chevron-up"></ion-icon>
	</a>

	<script src="/js/script.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		defer></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		defer></script>
	<script type="module"
		src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule
		src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html> -->